.hero-bg {
  background: url('../img/hero.png') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @media screen and (max-width: 1023px) {
    background-attachment: initial;
  }
}

.about1 {
  width: 100%;
  right: 0;
  left: 50%;
  position: absolute;
  height: 100%;
  background: url('../img/about1.png') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @media screen and (max-width: 1023px) {
    display: none;
    background-attachment: initial;
  }
}

.about2 {
  width: 100%;
  position: absolute;
  right: 50%;
  height: 100%;
  background: url('../img/about2.png') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @media screen and (max-width: 1023px) {
    display: none;
    background-attachment: initial;
  }
}

.about3 {
  width: 100%;
  right: 0;
  left: 50%;
  position: absolute;
  height: 100%;
  background: url('../img/about3.png') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.bg-footer {
  background: url('../img/footer.png') no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  @media screen and (max-width: 1023px) {
    background-attachment: initial;
  }
}

.text-rotate {
  writing-mode: vertical-rl;
  text-orientation: mixed; 
  transform: rotate(180deg);
}

.title {
  font-size: 48px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  position: relative;
  line-height: 1.1;

  @media screen and (max-width: 1023px) {
    font-size: calc(1.5rem + 1.5vw);
  }
}

.line-white::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  height: 80%;
  width: 2px;
  background: #fff;
}

.line-green::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  height: 80%;
  width: 2px;
  background: #52AE32;
}

button {
  transition: all .3s ease;
  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.9);
  }
}

